body {
  background-color: black;
  background-image: url("../images/Forrest_middle.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  min-height: 100vh;
  margin: 0;
}

footer {
  background-color: black;
  color: ivory;
  position: absolute;
  bottom: 0;
  height: 5%;
  width: 100%;
  opacity: 0.8;
  border-top: solid #005E31;
  display: flex;
  justify-content: space-around;
}

ul {
  list-style: none;
}

li {
  font-size: 17px;
  margin: 10px;
}

a {
  color: #248D58;
  text-decoration: none;
}

.fade-in {
  animation: fading 4s steps(40);
  animation-timing-function: ease-in;
  opacity: 0;
}

@keyframes fading {
  from {
    opacity: 1
  }
  to {
    opacity: 0
  }
}

.icon_box {
  border: solid #005E31 3px;
  background-color: black;
  opacity: 0.8;
  margin: 10px;
  height: 75px;
  width: 75px;
  border-radius: 25%;
  display: block;
}

.button {
  background-color: #248D58;
  width: 75px;
  height: 25px;
  border-color: black;
  border-radius: 20%;
  margin: 5px;
}

.selected {
  color: blue;
}

.icon_image {
  height: 50%;
  width: 50%;
  position: relative;
  top: 25%;
  display: block;
  margin: auto;
}

#failure_box {
  height: 75px;
  width: 75px;
}

#crafting_window {
  position: absolute;
  border: solid black 3px;
  top: 10%;
  left: 30%;
  height: 60%;
  width: 40%;
  display: inline-block;
}

#right_side {
  background-color: #053656;
  width: 25%;
  height: 100%;
  position: absolute;
  right: 0;
  border-left: solid black 3px;
  overflow-y: auto;
}

#craftButton {
  background-color: #053656;
  border-radius: 20%;
  color: white;
  height: 25px;
  width: 50px;
  border: solid black 1px;
  display: block;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 10px;
}

#alert {
  background-color: #005E31;
  width: 80%;
  border: solid black 3px;
  visibility: hidden;
  text-align: center;
  opacity: 0.9;
}

#display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 65%;
}

#resources_window {
  margin: 0;
  height: 90%;
  width: 35%;
  color: white;
  position: absolute;
  right: 1%;
  top: 2%;
  border-radius: 0;
  overflow-y: auto;
}

#inventory_list {
  position: relative;
  right: 30px;
}

#black {
  position: absolute;
  top: 0;
  margin: 0;
  background-color: black;
  height: 8000px;
  width: 100%;
}

#double_message {
  background-color: #005E31;
  width: 80%;
  border: solid black 3px;
  text-align: center;
  opacity: 0.9;
  display: none;
  margin: 5px;
}

#cross {
  height: 50px;
  width: 50px;
  opacity: 0;
  animation-name: fadeInOut;
  animation-duration: 3s;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  45% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#down {
  position: fixed;
}
