body {
  background-color: black;
  background-image: url("../images/Forrest_middle.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

footer {
  background-color: black;
  color: ivory;
  position: absolute;
  bottom: 0;
  height: 5%;
  width: 100%;
  opacity: 0.8;
  border-top: solid #005E31;
  display: flex;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: #248D58;
}

.box {
  border: solid #005E31 3px;
  background-color: black;
  opacity: 0.8;
  position: absolute;
  width: 50%;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
}

#info {
  position: absolute;
  top: 15%;
  width: 80%;
  color: white;
}
