body {
  background-color: black;
  background-image: url("../images/Forrest_middle.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

footer {
  background-color: black;
  color: ivory;
  position: absolute;
  bottom: 0;
  height: 5%;
  width: 100%;
  opacity: 0.8;
  border-top: solid #005E31;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

p {
  color: white;
}

ul {
  list-style: none;
  column-count: 2;

}

li {
  color: #248D58;
  margin: 10px;

}

a {
  color: #248D58;
  text-decoration: none;
}

.box {
  border: solid #005E31 3px;
  background-color: black;
  opacity: 0.8;
  position: absolute;
  height: 50%;
  width: 80%;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.button {
  background-color: #248D58;
  width: 75px;
  height: 25px;
  border-color: black;
  border-radius: 20%;
  margin: 5px;
}

.check {
  color: #248D58;
}

#hints {
  overflow-y: auto;
  height: 50%;
  width: 80%;
  display: none;
  position: absolute;
  top: 10%;
  justify-content: center;
  align-items: center;
   padding: 20px;
}

#solution {
  display: none;
  height: 15%;
  width: 80%;
  color: white;
  position: absolute;
  bottom: 15%;
  align-items: center;
}

#hints_list {
  color: white;
}

#explanation {
  position: absolute;
  top: 20%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 60%;
}

#score {
  color:   #248D58;

}
